<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="p-3 mb-2 bg-light text-dark page-holder bg-cover">
    <div class="container">
         <span sec:authorize="isAuthenticated()">
              <a sec:authorize="hasRole('CUSTOMER_USER')" th:href="@{/orders/cart}" class="btn btn-light btn-lg float-right" role="button"
                 aria-pressed="true">Cart</a>
            <a th:href="@{/logout}" class="btn btn-light btn-lg float-right" role="button" aria-pressed="true">Sign Out</a>
            <a th:href="@{/profile}" class="btn btn-light btn-lg float-right" role="button" aria-pressed="true">Personal</a>
        </span>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/images/hot_news.png" th:href="@{/images/hot_news.png}" width="100" height="100" class="d-inline-block align-top"
                     alt="">
                <b>Article</b>
            </a>
        </nav>
    </div>


    <div th:if="${param.updateFalse}">
        <div class="alert alert-danger">
            News change did not work!
        </div>
    </div>
    <div th:if="${param.updateTrue}">
        <div class="alert alert-info">
            Changed successfully!
        </div>
    </div>
    <form sec:authorize="hasRole('SALE_USER')" action="/articles/edit" method="post" th:object="${article}" th:action="@{/articles/edit}">
        <input type="hidden" th:field="*{articleId}"/>
        <div class="float-left meta">
            <div class="title h5">
                Created by:
                <a th:text="${article.date}"><b></b></a>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input th:field="*{articleName}" type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">TEXT</label>
            <textarea th:field="*{text}" class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="max 1000 characters"></textarea>
        </div>

        <button type="submit" class="btn btn-light btn-lg">Save changes</button>
    </form>

    <div class="row">
        <div class="col">
            <div sec:authorize="hasRole('CUSTOMER_USER')" class="col-md-10 blogShort" th:each="article: ${article}">
                <img src="/images/news.jpg" th:href="@{/images/news.jpg}" width="70" height="70" alt="post img"
                     class="pull-left img-responsive thumb margin10 img-thumbnail">
                <h3 th:text="${article.articleName}"></h3>

                <em>Author <a th:href="@{/info/user/{id}(id=${article.userId})}" target="_blank"
                              th:each="user:${users}"
                              th:if="${article.userId.equals(user.id)}"
                              th:text="${user.lastName + ' ' + user.firstName}"></a></em>
                <em><a target="_blank"
                       th:text="${article.date}"></a></em>
                <article th:text="${article.text}"><p>
                </p></article>
            </div>

            <div class="container">
                <form action="/articles/{id}/comments/new" method="post"
                      th:action="@{/articles/{id}/comments/new(id=${article.articleId})}">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Need to write something
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="text" name="text" rows="3"
                                  placeholder="max 200 characters"></textarea>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg">Add comment</button>
                </form>
            </div>
            <h4>Comments</h4>
            <div class="container" th:each="comment: ${article.comments}">
                <div class="row">
                    <div class="col-8">
                        <div class="card card-white post">
                            <div class="post-heading">
                                <div class="float-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                         alt="user profile image">
                                </div>
                                <div class="float-left meta">
                                    <div class="title h5">
                                        <a th:href="@{/info/user/{id}(id=${comment.userId})}"
                                           th:each="user:${users}"
                                           th:if="${comment.userId.equals(user.id)}"
                                           th:text="${user.lastName + ' ' + user.firstName}"><b></b></a>
                                        made a post.
                                    </div>
                                    <h6 class="text-muted time" th:text="${comment.date}"></h6>
                                    <a sec:authorize="hasRole('SALE_USER')" class="btn btn-success pull-right marginBottom10"
                                       th:href="@{/articles/comment/{id}/delete(id=${comment.commentId})}">DELETE</a>
                                </div>
                            </div>
                            <div class="post-description" th:text="${comment.text}">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/articles}" class="btn btn-light btn-lg" role="button" aria-pressed="true">Back to the list of articles</a>
</div>
</div>

<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/popper.min.js" th:href="@{/js/popper.min.js}"></script>
<script src="../static/js/jquery-3.4.1.slim.min.js" th:href="@{/js/jquery-3.4.1.slim.min.js}"></script>
</body>
</html>